ul {
    li {
        a {
            
            i:first-child {
                margin-right: 0.25rem;
                width: 1.25rem;
                color: $pink-icon-color;
            }

            img {
                width: 20;
                height: 20;
            }
        }
    }
}

